.maya-reg-from {
  padding: 0 0.2rem;
}

.mt-field {
  height: 1rem;
  position: relative;
  color: #181818;
  line-height: 1rem;
  font-size: 0.28rem;
  border-bottom: thin solid #e5e5e5;
  padding: 0 0.2rem;
}

.mt-field label {
  width: 1.86rem;
  display: inline-block;
}

.mt-field input {
  width: 3rem;
}

.maya-btn {
  width: 6.9rem;
  height: 0.8rem;
  text-align: center;
  border: none;
  background: #e0e0e0;
  margin-left:0.3rem;
}

.mt-field .btnSendCode {
  position: absolute;
  display: block;
  right: 0.2rem;
  height: 0.32rem;
  line-height: 0.32rem;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border-left: thin solid #8e57ff;
  color: #8e57ff;
  text-align: right;
  width: 1.75rem;
}

.code {
  height: 34px;
  position: absolute;
  right: 0.2rem;
  top: 50%;
  transform: translateY(-50%);
}

.s-canvas {
  height: 34px;
  top: 50%;
  /*transform: translateY(-50%);*/
  /*-webkit-transform: translateY(-50%);*/
  /*-ms-transform: translateY(-50%);*/
  /*-moz-transform: translateY(-50%);*/
  /*-o-transform: translateY(-50%);*/
}

.mint-field-core {
  font-size: 0.28rem;
  color: #181818;
}


.mt-field2 input {
  width: 4rem;
}
